<!doctype html>
<html lang="zh-CN">
    <head>
        <title>文明修身监督员</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="stylesheet" href="__PUBLIC__/css/style.css">
        <link rel="stylesheet" href="__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
        <script src = '__PUBLIC__/js/jquery-2.1.4.min.js'></script>
        <script src = '__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js'></script>
        <script src="__PUBLIC__/js/loadImages.js"></script>
        <script src="__PUBLIC__/js/PageChange.js"></script>
        <script src="__PUBLIC__/js/GameController.js"></script>
        <script src="__PUBLIC__/js/SetStyle.js"></script>
    </head>
    <body>
        <div class="mask"></div>
        <div class="alertBox">
            <p class="AlertTitle">
                完成任务!
            </p>
            <div class="relativeBox">
                <div class="TimeShowBox">
                    <h3>用时</h3>
                    <p><span class="stateTime">00.10</span> 秒</p>
                    <br>
                    <img src="__PUBLIC__/images/nextState.png" alt="" class="nextBtn">
                </div>
                <div class="RankShowBox">
                    <p>
                        本次排名 <span class="rank">32</span> 位
                    </p>
                    <br>
                    <p>
                        共用时 <span class="timesum">32.08</span> 秒
                    </p>
                    <div class="alertBtnContainer">
                        <img src="__PUBLIC__/images/playAgain.png" alt="" class="playAgain">
                        <img src="__PUBLIC__/images/overBtn.png" alt="" class="overBtn">
                    </div>
                </div>
            </div>
        </div>
        <div class="notRight">
            <img src="__PUBLIC__/images/depressed.png" alt="" class="depressed">
            <p>选择错误</p>
        </div>
        <div data-role="page" id="LoadingPage">

        </div>
        <div data-role="page" id="StartPage">
            <div class="DeveloperList">
                <img src="__PUBLIC__/images/close.png" alt="" class="closeBtn">
                <p class="developerTitle">开发人员信息</p>
                <div class="infoList">
                    <p>产品设计：杨奇凡</p>
                    <p>视觉设计：李佳蔚</p>
                    <p>程序开发：周政</p>
                    <p>指导老师：杨奇凡</p>
                    <p>出品：红岩网校工作站</p>
                </div>
            </div>
            <img src="__PUBLIC__/images/VoiceofYoung.png" alt="" class="VoiceofYoung">
            <div class="GamelogoContainer">
                <img src="__PUBLIC__/images/GameLogo.png" alt="" class="GameLogo">
                <p class="slogan">"文明修身工程" 新媒体学习产品</p>
            </div>
            <div class="InstructionContainer">
                <img src="__PUBLIC__/images/instruction.png" alt="" class="instruction">
            </div>
            <div class="BtnContainer">
                <img src="__PUBLIC__/images/Instructions.png" alt="" class="InstructionBtn btn">
                <img src="__PUBLIC__/images/StartGame.png" alt="" class="StartBtn btn">
                <img src="__PUBLIC__/images/getit.png" alt="" class="GetBtn btn">
            </div>
            <img src="__PUBLIC__/images/ShowDeveloper.png" alt="" class="DeveloperBtn">
            <p class="copyright">©红岩网校工作站</p>
        </div>
        <div data-role="page" id="GamePage">
            <div class="recordContainer">
                <div class="WordNum">
                    <img src="__PUBLIC__/images/wordnum.png" alt="" class="logo">
                    <span class="WNum">
                        <span class="now">0</span>/<span class="all">1</span>
                    </span>
                </div>
                <div class="Timer">
                    <img src="__PUBLIC__/images/timer.png" alt="" class="logo">
                    <span class="TimerNum">
                        <span class="sencond">00</span>.<span class="msecond">00</span>
                    </span>
                </div>
            </div>
            <div class="wordContainer">
                <p class="Checkpoint">
                    第一关
                </p>
                <ul class="wordUl">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script>
            var shareTitle = 'xxxx';
            var shareDesc = "ddddd";
            var shareURL = "https://redrock.cqupt.edu.cn/";
            var shareImg = "https://redrock.cqupt.edu.cn";
            wx.config({
                debug: false,
                appId: 'wx81a4a4b77ec98ff4',
                timestamp: "{$signature['timestamp']}",
                nonceStr: "{$signature['noncestr']}",
                signature: "{$signature['signature']}",
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareQZone',
                    'hideAllNonBaseMenuItem'
                ]
            });
            function initShare(shareTitle, shareDesc, shareURL, shareImg) {
                wx.ready(function(){
                    wx.onMenuShareTimeline({
                        title: shareDesc,
                        link: shareURL,
                        imgUrl: shareImg,
                        success: function () {

                        },
                        cancel: function () {

                        }
                    });
                    wx.onMenuShareAppMessage({
                        title: shareTitle,
                        desc: shareDesc,
                        link: shareURL,
                        imgUrl: shareImg,
                        type: '',
                        dataUrl: '',
                        success: function () {

                        },
                        cancel: function () {

                        }
                    });
                    wx.onMenuShareQQ({
                        title: shareTitle,
                        desc: shareDesc,
                        link: shareURL,
                        imgUrl: shareImg,
                        success: function () {

                        },
                        cancel: function () {

                        }
                    });
                    wx.onMenuShareQZone({
                        title: shareTitle,
                        desc: shareDesc,
                        link: shareURL,
                        imgUrl: shareImg,
                        success: function () {

                        },
                        cancel: function () {

                        }
                    });
                });
            }
            initShare(shareTitle, shareDesc, shareURL, shareImg);
        </script>

    </body>
</html>