<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排行榜</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="__PUBLIC__/css/rank.css">
    <script src = '__PUBLIC__/js/jquery-2.1.4.min.js'></script>
    <script src = '__PUBLIC__/js/SetRankStyle.js'></script>
</head>
<body>
    <div class="container">
        <img src="__PUBLIC__/images/VoiceofYoung.png" alt="" class="VoiceofYoung">
        <div class="RanklistHeader">
            <h2>排行榜</h2>
            <div class="AvatarBox">

            </div>
            <p class="username">
                隆妹纸
            </p>
            <p class="rankNum">
                第 <span class="rank">32</span> 名
            </p>
            <a href="##"><img src="__PUBLIC__/images/playAgain.png" alt="" class="playAgain"></a>
        </div>
        <ul class="RanklistUl">
            <li style="margin-top: 8px">
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <img src="__PUBLIC__/images/gold.png" alt="" class="medal">
            </li>
            <li>
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <img src="__PUBLIC__/images/silver.png" alt="" class="medal">
            </li>
            <li>
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <img src="__PUBLIC__/images/copper.png" alt="" class="medal">
            </li>
            <li>
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <span class="rank">4</span>
            </li>
            <li>
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <span class="rank">5</span>
            </li>
            <li>
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <span class="rank">6</span>
            </li>
            <li>
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <span class="rank">7</span>
            </li>
            <li>
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <span class="rank">8</span>
            </li>
            <li>
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <span class="rank">9</span>
            </li>
            <li>
                <div class="avatar">

                </div>
                <p class="playerName">隆妹纸</p>
                <span class="rank">10</span>
            </li>
        </ul>
        <p class="copyright">©红岩网校工作站</p>
    </div>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var shareTitle = 'xxxx';
    var shareDesc = "ddddd";
    var shareURL = "https://redrock.cqupt.edu.cn/";
    var shareImg = "https://redrock.cqupt.edu.cn";
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
        timestamp: "{$signature['timestamp']}", // 必填，生成签名的时间戳
        nonceStr: "{$signature['noncestr']}", // 必填，生成签名的随机串
        signature: "{$signature['signature']}",// 必填，签名，见附录1
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareQZone',
            'hideAllNonBaseMenuItem'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    function initShare(shareTitle, shareDesc, shareURL, shareImg) {
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareDesc, // 分享标题
                link: shareURL,
                imgUrl: shareImg,
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareAppMessage({
                title: shareTitle, // 分享标题
                desc: shareDesc, // 分享描述
                link: shareURL,
                imgUrl: shareImg,
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQQ({
                title: shareTitle, // 分享标题
                desc: shareDesc, // 分享描述
                link: shareURL,
                imgUrl: shareImg,
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQZone({
                title: shareTitle, // 分享标题
                desc: shareDesc, // 分享描述
                link: shareURL,
                imgUrl: shareImg,
                success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
    }
    initShare(shareTitle, shareDesc, shareURL, shareImg);
</script>
</body>
</html>